//
//  NBE-External.xcconfig
//  CICD_WorkShop
//
//  Created by Abdallah ismail on 10/07/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Common/Shared Config/Shared-External.xcconfig"
#include "Pods/Target Support Files/Pods-NBE/Pods-NBE.external.xcconfig"
BASE_URL = https/S()/www.NBE-External.com
GOOGLE_API_KEY = ""
PRODUCT_BUNDLE_IDENTIFIER = com.nbe.PhoneCash.test
DISPLAY_NAME = NBE-EX


