<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CA-Development.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CA-External.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CA-Production.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NBE-Development.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NBE-External.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NBE-Production.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E6BC4EC2C3E7F04007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6BC5022C3E7F06007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6BC50C2C3E7F06007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6BC5232C3E7F21007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6BC5382C3E7F22007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E6BC5422C3E7F22007D64BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
